/*
This is a CSS for styling the left-side of the page, where the redirect buttons are located
*/

.buttons-container, .inner-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: 	#1DA1F2;
  border: none;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s;
}

button:hover{
  box-shadow: 5px 5px 10px grey;
  transition: box-shadow 0.5s;
}

.inner-button-container{
  gap: 5vw
}