@font-face {
  font-family: 'logo-font';
  src: url(../../webfontkit-20250722-225433/norse-bold-webfont.woff2) format('woff2');
  font-display: swap;
}

button{
  cursor: pointer;
}

*{
  font-family: Roboto;
}

.match-history-title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 207, 207, 0.65);
}

.match-history-title{
  font-family: 'logo-font', Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.back-to-home-linker{
  align-self: start;
}

.back-to-home{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 10px;
  border: none;

  color: white;
  background-color: #1DA1F2;
  margin-left: 10px;
  margin-top: 10px;
}

.container{
  height: inherit;
}

.match-history-container{
  display: flex;
  flex-direction: column;
}

.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(174, 174, 174, 0.65);
  border-top: 1px solid black;
  width: 100%;
  gap: 20px;

  padding: 20px;
}

.game-info-review-button, .game-info-delete-button, .back{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 10px;
  border: none;
}

.game-info-review-button{
  background-color: lightgreen;
}

.game-info-delete-button{
  background-color: lightcoral;
}

.back{
  background-color: #1DA1F2;
  color: white;
}

.Blue-match-history{
  color: blue;
}

.Red-match-history{
  color: red;
}